{% extends 'base.html.twig' %}

{% block title %}Brain Battle - About us!{% endblock %}

{% block body %}
<section>
    <div>
        <h2>Welcome to Brain Battle - Where Knowledge Meets Fun!</h2>
        
        <p>Hey there, fellow knowledge warriors! If you're someone who loves a good challenge and can't resist the thrill of friendly competition, you've come to the right place. Brain Battle is your go-to destination for exciting quizzes that will put your gray matter to the ultimate test.</p>

        <p>Challenge Yourself:
        We believe that the best way to grow and expand our horizons is by challenging ourselves. Our carefully crafted quizzes cover a wide range of topics, from history to pop culture, from science to sports, and everything in between. So, whether you're a history buff, a tech geek, or just someone who enjoys learning new things, we have the perfect brain-teasers for you.</p>

        <p>Compete with Your Friends:
        What's more fun than learning? Learning together! Invite your friends, family, and colleagues to join you in the Brain Battle arena. Engage in friendly rivalry as you compete for the top spot on the leaderboards. Not only will you sharpen your minds, but you'll also strengthen your bonds and create lasting memories.</p>

        <p>Level Up Your Knowledge:
        With Brain Battle, every quiz is a chance to level up your knowledge. Whether you're a seasoned quizzer or just getting started, our quizzes are designed to be both entertaining and informative. You'll discover fascinating facts and hidden gems that will leave you amazed.</p>

        <p>Track Your Progress:
        Keep an eye on your progress as you conquer quiz after quiz. Our user-friendly interface allows you to track your scores and see how you stack up against your friends and the Brain Battle community. Celebrate your achievements and use your results to identify areas where you can dive deeper and learn even more.</p>

        <p>A Safe and Friendly Environment:
        At Brain Battle, we're all about creating a safe and inclusive environment. We encourage positive interactions, respect for one another, and a spirit of camaraderie. Our aim is to foster a community where everyone can share their passion for learning and grow together.</p>

        <p>So, are you ready to put your knowledge to the test and take on the Brain Battle challenge? Join us today, and let the quest for knowledge and the thrill of competition begin! Together, we'll embark on an exciting journey of learning, fun, and friendship. See you on the leaderboard!</p>
    </div>
</section>
{% endblock %}
